<div id='slide-1'>

            <div id='intro-text'>
                <h1 class='display-2 text-light'>big ideas</h1>
            </div>
    
</div>

<div id='slide-2'>

            <div id='slide2-text'>
                <p class='display-2 text-light h2'>down to earth</p>
            </div>
    
</div>

<div id='slide-3'>

            <div id='slide3-text'>
                <p class='display-2 text-light h2'>deep thinking</p>
            </div>
    
</div>